In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
df1 = pd.DataFrame({"description":["PW Skills is the one-stop destination for your upskilling journey. Brace yourself to find the best job-ready courses and high-end technologies available in the sector. And if that weren't good enough, get the highest quality course content at the most affordable prices!What are we waiting for ? Let's push Start!"]})

In [5]:
df1

                                         description
0  PW Skills is the one-stop destination for your...

In [6]:
pd.set_option('display.max_colwidth', 1000)

In [7]:
df1

                                                                                                                                                                                                                                                                                                                 description
0  PW Skills is the one-stop destination for your upskilling journey. Brace yourself to find the best job-ready courses and high-end technologies available in the sector. And if that weren't good enough, get the highest quality course content at the most affordable prices!What are we waiting for ? Let's push Start!

In [8]:
df1["char_len"] = df1['description'].apply(len)

In [9]:
df1.char_len

0    313
Name: char_len, dtype: int64

In [10]:
#count words in description
df1['word_count'] = df1['description'].apply(lambda x: len(x.split()))

In [11]:
df1.word_count

0    50
Name: word_count, dtype: int64

In [12]:
data = {'text':['Hello data science', 'I love ML', 'I read ml books']}
a = pd.DataFrame(data)
a['text_lower'] = a['text'].str.lower()

In [13]:
a

                 text          text_lower
0  Hello data science  hello data science
1           I love ML           i love ml
2     I read ml books     i read ml books

In [14]:
df1 = pd.DataFrame({'a':[1,2,4,5,6],
                      'b':[4,5,6,7,8],
})

In [15]:
df1

   a  b
0  1  4
1  2  5
2  4  6
3  5  7
4  6  8

In [16]:
df1['mul_a'] = df1['a'] *5

In [17]:
df1

   a  b  mul_a
0  1  4      5
1  2  5     10
2  4  6     20
3  5  7     25
4  6  8     30

In [18]:
df1.a.mean()

np.float64(3.6)

In [19]:
df1.a.median()

np.float64(4.0)

In [20]:
df1.a.max()

np.int64(6)

In [21]:
df1.a.std()

np.float64(2.073644135332772)

In [22]:
df1.a.var()

np.float64(4.3)

In [24]:
df1.a.describe()

count    5.000000
mean     3.600000
std      2.073644
min      1.000000
25%      2.000000
50%      4.000000
75%      5.000000
max      6.000000
Name: a, dtype: float64