In [3]:

import pandas as pd

In [4]:
df= pd.read_csv("services.csv")

In [5]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [6]:
df=pd.read_csv("services.csv",skiprows=10)

In [7]:
df

,10,10.1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Walk in. Proof of California residency to receive a library card.,Unnamed: 6,"Provides general reading and media materials, literacy and homework assistance, and programs for all ages. Provides public computers, wireless connectivity, a children's room, teen center, and a local history collection.",Resident of California to obtain a card,Unnamed: 9,...,Unnamed: 12,"EDUCATION SERVICES, Library, Libraries, Public Libraries",Unnamed: 14,Main Library,Unnamed: 16,San Mateo County,active,No wait.,Unnamed: 20,Unnamed: 21
0,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
1,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
2,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
3,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
4,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
5,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
6,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
7,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
8,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
9,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
10,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
11,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
12,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [8]:
df=pd.read_csv("services.csv")

In [9]:
df=pd.read_csv("services.csv",usecols=["application_process","audience"])
df

,application_process,audience
0,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities..."
1,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over
2,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...
3,Apply by phone.,"Parents, children, families with problems of c..."
4,Phone for information.,Low-income working families with children tran...
5,Walk in or apply by phone for membership appli...,Any age
6,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ..."
7,Apply by phone.,"Senior citizens age 60 or over, disabled indiv..."
8,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking"
9,Walk in. Proof of California residency to rece...,NaN
10,Walk in. Proof of California residency require...,NaN
11,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i..."
12,Walk in. Proof of California residency require...,NaN
13,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...
14,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...
15,"Walk in. Written application, identification r...",NaN
16,Call for information.,NaN
17,Call for screening appointment. Medical visits...,NaN
18,Call for screening appointment (650-347-3648).,NaN
19,Walk in.,NaN
20,By phone during business hours.,NaN
21,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m..."
22,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p..."

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
l=[1,2,3,4]
s=pd.Series(l)
s

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
s[0]

np.int64(1)

In [14]:
s[1]

np.int64(2)

In [15]:
s[1:2]

1    2
dtype: int64

In [16]:
d=pd.Series([100,200,300],index=["A","B","C"])
d

A    100
B    200
C    300
dtype: int64

In [24]:
d=[1,23,3,4]
d=pd.DataFrame(d)
d

    0
0   1
1  23
2   3
3   4

In [25]:
d.shape

(4, 1)

In [27]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [28]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [30]:
df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       23 non-null     int64
 1   location_id              23 non-null     int64
 2   program_id               0 non-null      float64
 3   accepted_payments        1 non-null      object
 4   alternate_name           1 non-null      object
 5   application_process      23 non-null     object
 6   audience                 14 non-null     object
 7   description              23 non-null     object
 8   eligibility              17 non-null     object
 9   email                    1 non-null      object
 10  fees                     21 non-null     object
 11  funding_sources          21 non-null     object
 12  interpretation_services  1 non-null      object
 13  keywords                 21 non-null     object
 14  languages                1 non-null      object
 15  name                     23 non-null     object
 16  required_documents       1 non-null      object
 17  service_areas            21 non-null     object
 18  status                   23 non-null     object
 19  wait_time                19 non-null     object
 20  website                  2 non-null      object
 21  taxonomy_ids             1 non-null      object
dtypes: float64(1), int64(2), object(19)
memory usage: 4.1+ KB

In [33]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [34]:
df["email"]

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21    passports@example.org
22                      NaN
Name: email, dtype: object

In [35]:
d["newColAddKrte"]="values"

In [36]:
d

    0 newColAddKrte
0   1        values
1  23        values
2   3        values
3   4        values

In [37]:
d.columns=["pehla","dusra"]

In [38]:
d

   pehla   dusra
0      1  values
1     23  values
2      3  values
3      4  values

In [39]:
df[["id","email"]]

    id                  email
0    1                    NaN
1    2                    NaN
2    3                    NaN
3    4                    NaN
4    5                    NaN
5    6                    NaN
6    7                    NaN
7    8                    NaN
8    9                    NaN
9   10                    NaN
10  11                    NaN
11  12                    NaN
12  13                    NaN
13  14                    NaN
14  15                    NaN
15  16                    NaN
16  17                    NaN
17  18                    NaN
18  19                    NaN
19  20                    NaN
20  21                    NaN
21  22  passports@example.org
22  23                    NaN

In [45]:
pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

BadZipFile: Bad offset for central directory

In [46]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [47]:
import lxml

In [49]:
urlData=pd.read_html("https://www.basketball-reference.com/")

In [50]:
urlData

[       East Unnamed: 1 Unnamed: 2  W  L
 0   MIA (1)          F          $  0  0
 1   WAS (1)          F          $  0  0
 2   TOR (1)          F          $  0  0
 3   PHI (1)          F          $  0  0
 4   ORL (1)          F          $  0  0
 5   NYK (1)          F          $  0  0
 6   MIL (1)          F          $  0  0
 7   ATL (1)          F          $  0  0
 8   IND (1)          F          $  0  0
 9   CLE (1)          F          $  0  0
 10  BOS (1)          F          $  0  0
 11  BRK (1)          F          $  0  0
 12  CHI (1)          F          $  0  0
 13  CHO (1)          F          $  0  0
 14  DET (1)          F          $  0  0,
        West Unnamed: 1 Unnamed: 2  W  L
 0   MEM (1)          F          $  0  0
 1   DEN (1)          F          $  0  0
 2   DAL (1)          F          $  0  0
 3   MIN (1)          F          $  0  0
 4   NOP (1)          F          $  0  0
 5   GSW (1)          F          $  0  0
 6   OKC (1)          F          $  0  0
 7   LAL (1)          F          $  0  0
 8   LAC (1)          F          $  0  0
 9   PHO (1)          F          $  0  0
 10  POR (1)          F          $  0  0
 11  SAC (1)          F          $  0  0
 12  SAS (1)          F          $  0  0
 13  UTA (1)          F          $  0  0
 14  HOU (1)          F          $  0  0,
     Unnamed: 0_level_0 Regular Season
                   Team              W   L   W/L%    GB
 0    New York Liberty*             32   8  0.800     —
 1      Minnesota Lynx*             30  10  0.750   2.0
 2     Connecticut Sun*             28  12  0.700   4.0
 3      Las Vegas Aces*             27  13  0.675   5.0
 4       Seattle Storm*             25  15  0.625   7.0
 5       Indiana Fever*             20  20  0.500  12.0
 6     Phoenix Mercury*             19  21  0.475  13.0
 7       Atlanta Dream*             15  25  0.375  17.0
 8   Washington Mystics             14  26  0.350  18.0
 9          Chicago Sky             13  27  0.325  19.0
 10        Dallas Wings              9  31  0.225  23.0
 11  Los Angeles Sparks              8  32  0.200  24.0,
    October 16, 2024 October 16, 2024.1 October 16, 2024.2
 0  New York Liberty              80-77     Minnesota Lynx
 1               NaN                NaN                NaN
 2  October 18, 2024   October 18, 2024   October 18, 2024
 3  New York Liberty                  @     Minnesota Lynx,
             Tue Oct 22, 2024 Tue Oct 22, 2024.1 Tue Oct 22, 2024.2
 0          New York @ Boston            7:30 pm                NaN
 1      Minnesota @ LA Lakers           10:00 pm                NaN
 2                        NaN                NaN                NaN
 3           Wed Oct 23, 2024   Wed Oct 23, 2024   Wed Oct 23, 2024
 4          Indiana @ Detroit            7:00 pm                NaN
 5         Brooklyn @ Atlanta            7:30 pm                NaN
 6            Orlando @ Miami            7:30 pm                NaN
 7   Milwaukee @ Philadelphia            7:30 pm                NaN
 8        Cleveland @ Toronto            7:30 pm                NaN
 9        Charlotte @ Houston            8:00 pm                NaN
 10     Chicago @ New Orleans            8:00 pm                NaN
 11            Memphis @ Utah            9:00 pm                NaN
 12     Phoenix @ LA Clippers           10:00 pm                NaN
 13   Golden State @ Portland           10:00 pm                NaN
 14                       NaN                NaN                NaN
 15          Thu Oct 24, 2024   Thu Oct 24, 2024   Thu Oct 24, 2024
 16       Boston @ Washington            7:00 pm                NaN
 17      San Antonio @ Dallas            7:30 pm                NaN
 18    Oklahoma City @ Denver           10:00 pm                NaN
 19    Minnesota @ Sacramento           10:00 pm                NaN
 20                       NaN                NaN                NaN
 21          Fri Oct 25, 2024   Fri Oct 25, 2024   Fri Oct 25, 2024
 22        Brooklyn @ Orlando            7:00 pm                NaN
 23    Philadelphia @ Toronto            7:00 pm                NaN
 24       Charlotte @ Atlanta            7:30 pm                NaN
 25       Detroit @ Cleveland            7:30 pm                NaN
 26        Indiana @ New York            7:30 pm                NaN
 27         Memphis @ Houston            8:00 pm                NaN
 28       Chicago @ Milwaukee            8:00 pm                NaN
 29       Golden State @ Utah            9:30 pm                NaN
 30       Phoenix @ LA Lakers           10:00 pm                NaN
 31    New Orleans @ Portland           10:00 pm                NaN
 32                       NaN                NaN                NaN,
           Unnamed: 0_level_0 Regular Season
                         Team              W   L   W/L%    GB
 0              Real Madrid *             28   6  0.824     -
 1                  Unicaja *             28   6  0.824     -
 2              UCAM Murcia *             21  13  0.618   7.0
 3                    Barça *             23  11  0.676   5.0
 4          Valencia Basket *             21  13  0.618   7.0
 5          Lenovo Tenerife *             21  13  0.618   7.0
 6   Dreamland Gran Canaria *             20  14  0.588   8.0
 7             Baxi Manresa *             19  15  0.559   9.0
 8                   Baskonia             18  16  0.529  10.0
 9                   Joventut             16  18  0.471  12.0
 10          MoraBanc Andorra             13  21  0.382  15.0
 11       Casademont Zaragoza             13  21  0.382  15.0
 12       Surne Bilbao Basket             13  21  0.382  15.0
 13            Bàsquet Girona             13  21  0.382  15.0
 14           Covirán Granada             11  23  0.324  17.0
 15               Río Breogán             11  23  0.324  17.0
 16          Monbus Obradoiro             11  23  0.324  17.0
 17           Zunder Palencia              6  28  0.176  22.0,
             Unnamed: 0_level_0 Regular Season
                           Team              W   L   W/L%    GB
 0                  AS Monaco *             29   5  0.853     -
 1                 LDLC ASVEL *             25   9  0.735   4.0
 2           Paris Basketball *             27   7  0.794   2.0
 3                   JL Bourg *             25   9  0.735   4.0
 4              Cholet Basket *             17  17  0.500  12.0
 5                Nanterre 92 *             20  14  0.588   9.0
 6   Saint-Quentin Basketball *             17  17  0.500  12.0
 7               ESSM Le Portel             17  17  0.500  12.0
 8    Jeanne d'Arc Dijon Basket             16  18  0.471  13.0
 9            SLUC Nancy Basket             16  18  0.471  13.0
 10     Le Mans Sarthe Basket *             15  19  0.441  14.0
 11              SIG Strasbourg             15  19  0.441  14.0
 12                 Limoges CSP             16  18  0.471  13.0
 13     Élan Sportif Chalonnais             14  20  0.412  15.0
 14    BCM Gravelines-Dunkerque             12  22  0.353  17.0
 15                       Blois             11  23  0.324  18.0
 16       Chorale Roanne Basket             10  24  0.294  19.0
 17            Metropolitans 92              4  30  0.118  25.0,
              Unnamed: 0_level_0 Regular Season
                            Team              W   L   W/L%    GB
 0   EA7 Emporio Armani Milano *             22   8  0.733     -
 1    Virtus Segafredo Bologna *             22   8  0.733     -
 2      Germani Basket Brescia *             21   9  0.700   1.0
 3         Umana Reyer Venezia *             19  11  0.633   3.0
 4    Bertram Derthona Tortona *             14  16  0.467   8.0
 5     UNAHOTELS Reggio Emilia *             16  14  0.533   6.0
 6     Dolomiti Energia Trento *             15  15  0.500   7.0
 7               Estra Pistoia *             15  15  0.500   7.0
 8            GeVi Napoli Basket             14  16  0.467   8.0
 9     Banco di Sardegna Sassari             14  16  0.467   8.0
 10        Vanoli Basket Cremona             12  18  0.400  10.0
 11               Givova Scafati             12  18  0.400  10.0
 12   NutriBullet Treviso Basket             12  18  0.400  10.0
 13          Openjobmetis Varese             12  18  0.400  10.0
 14   Carpegna Prosciutto Pesaro             10  20  0.333  12.0
 15          Happy Casa Brindisi             10  20  0.333  12.0,
         Unnamed: 0_level_0 Regular Season
                       Team              W   L   W/L%    GB
 0          Panathinaikos *             21   1  0.955     -
 1             Olympiacos *             20   2  0.909   1.0
 2         Peristeri bwin *             15   7  0.682   6.0
 3             Aris Midea *             12  10  0.545   9.0
 4      Promitheas Patras *             13   9  0.591   8.0
 5             AEK Athens *              9  13  0.409  12.0
 6      Kolossos H Hotels *              9  13  0.409  12.0
 7            PAOK mateco *              8  14  0.364  13.0
 8                 Maroussi              7  15  0.318  14.0
 9   ASK Karditsas Iaponiki              7  15  0.318  14.0
 10         Lavrio Megabolt              8  14  0.364  13.0
 11    Apollon Patras Carna              3  19  0.136  18.0,
            Unnamed: 0_level_0 Regular Season
                          Team              W  L  W/L%   GB
 0              Budućnost VOLI              4  0  1.00    -
 1        Partizan Mozzart Bet              4  0  1.00    -
 2                    Mega MIS              4  0  1.00    -
 3                       Dubai              3  1  0.75  1.0
 4   Crvena zvezda Meridianbet              2  2  0.50  2.0
 5               FMP Soccerbet              2  2  0.50  2.0
 6                    SC Derby              2  2  0.50  2.0
 7        Spartak Office Shoes              2  2  0.50  2.0
 8           Cedevita Olimpija              2  2  0.50  2.0
 9                Igokea m:tel              2  2  0.50  2.0
 10                       Krka              1  3  0.25  3.0
 11                      Split              1  3  0.25  3.0
 12              Borac Mozzart              1  3  0.25  3.0
 13                      Zadar              1  3  0.25  3.0
 14                     Cibona              1  3  0.25  3.0
 15        Mornar Barsko zlato              0  4  0.00  4.0,
              Unnamed: 0_level_0 Regular Season
                            Team              W   L   W/L%    GB
 0             Fenerbahçe Beko *             25   5  0.833     -
 1                Anadolu Efes *             25   5  0.833     -
 2           Beşiktaş Emlakjet *             21   9  0.700   4.0
 3             Pınar Karşıyaka *             21   9  0.700   4.0
 4             Galatasaray Nef *             16  14  0.533   9.0
 5                Türk Telekom *             14  16  0.467  11.0
 6                 Petkim Spor *             15  15  0.500  10.0
 7                   Manisa BB *             16  14  0.533   9.0
 8        Bursaspor İnfo Yatırım             14  16  0.467  11.0
 9             ONVO Büyükçekmece             13  17  0.433  12.0
 10                        Tofaş             13  17  0.433  12.0
 11            Bahçeşehir Koleji             12  18  0.400  13.0
 12            Darüşşafaka Lassa             12  18  0.400  13.0
 13  Yukatel Merkezefendi Basket             12  18  0.400  13.0
 14            Çağdaş Bodrumspor              8  22  0.267  17.0
 15            Reeder Samsunspor              3  27  0.100  22.0,
         Unnamed: 0_level_0 Regular Season
                       Team              W  L   W/L%   GB
 0              CSKA Moscow              7  1  0.875    -
 1                    UNICS              6  1  0.857  0.5
 2          Lokomotiv Kuban              4  4  0.500  3.0
 3   Zenit Saint Petersburg              6  3  0.667  1.5
 4                   Enisey              6  1  0.857  0.5
 5               PARMA-PARI              3  6  0.333  4.5
 6                   Samara              4  3  0.571  2.5
 7   Uralmash Yekaterinburg              4  4  0.500  3.0
 8              Runa Moscow              0  0    NaN  3.0
 9                   Astana              5  4  0.556  2.5
 10                 Avtodor              3  6  0.333  4.5
 11              MBA Moscow              3  5  0.375  4.0
 12    Pari Nizhny Novgorod              1  6  0.143  5.5
 13                   Minsk              0  8  0.000  7.0,
            Unnamed: 0_level_0 Regular Season
                          Team              W   L   W/L%    GB
 0          Maccabi Tel Aviv *             21   3  0.875     -
 1           Hapoel Tel Aviv *             18   6  0.750   3.0
 2          Ironi Kiryat Ata *             12  12  0.500   9.0
 3          Hapoel Jerusalem *             14  10  0.583   7.0
 4   Maccabi Ironi Ramat Gan *             18   6  0.750   3.0
 5          Ironi Ness Ziona *              9  15  0.375  12.0
 6              Hapoel Holon *             13  11  0.542   8.0
 7              Hapoel Haifa *             11  13  0.458  10.0
 8                Hapoel Afula             10  14  0.417  11.0
 9               Bnei Herzliya             11  13  0.458  10.0
 10         Hapoel Galil Elyon              6  18  0.250  15.0
 11         Hapoel Be'er Sheva              6  18  0.250  15.0
 12               Hapoel Eilat              7  17  0.292  14.0,
              Unnamed: 0_level_0 Regular Season
                            Team              W   L   W/L%    GB
 0   Maccabi Playtika Tel Aviv *             20  14  0.588   7.0
 1                 Real Madrid *             27   7  0.794     -
 2               Panathinaikos *             23  11  0.676   4.0
 3                  Olympiacos *             22  12  0.647   5.0
 4                    Baskonia *             18  16  0.529   9.0
 5      Virtus Segafredo Bologna             17  17  0.500  10.0
 6             Fenerbahçe Beko *             20  14  0.588   7.0
 7                   Barcelona *             22  12  0.647   5.0
 8                   AS Monaco *             23  11  0.676   4.0
 9                  Anadolu Efes             17  17  0.500  10.0
 10         Partizan Mozzart Bet             16  18  0.471  11.0
 11    EA7 Emporio Armani Milano             15  19  0.441  12.0
 12              Valencia Basket             14  20  0.412  13.0
 13                     Žalgiris             14  20  0.412  13.0
 14               Bayern München             13  21  0.382  14.0
 15    Crvena zvezda Meridianbet             11  23  0.324  16.0
 16                   LDLC ASVEL              9  25  0.265  18.0
 17                  ALBA Berlin              5  29  0.147  22.0,
         Unnamed: 0_level_0 Group A
                       Team       W  L  W/L%   GB
 0        Bahçeşehir Koleji       3  1  0.75    -
 1          Hapoel Tel Aviv       3  1  0.75    -
 2   Dreamland Gran Canaria       3  1  0.75    -
 3           ratiopharm Ulm       3  1  0.75    -
 4       Beşiktaş Fibabanka       2  2  0.50  1.0
 5           Budućnost VOLI       2  2  0.50  1.0
 6                 Joventut       2  2  0.50  1.0
 7          Wolves Twinsbet       1  3  0.25  2.0
 8  Dolomiti Energia Trento       1  3  0.25  2.0
 9              Trefl Sopot       0  4  0.00  3.0,
             Unnamed: 0_level_0 Group B
                           Team       W  L  W/L%   GB
 0              Valencia Basket       4  0  1.00    -
 1               Cosea JL Bourg       4  0  1.00    -
 2  Hapoel Bank Yahav Jerusalem       3  1  0.75  1.0
 3                 Türk Telekom       3  1  0.75  1.0
 4            Cedevita Olimpija       3  1  0.75  1.0
 5             U-BT Cluj-Napoca       1  3  0.25  3.0
 6      Aris Midea Thessaloniki       1  3  0.25  3.0
 7          Umana Reyer Venezia       1  3  0.25  3.0
 8             7bet-Lietkabelis       0  4  0.00  4.0
 9        Veolia Towers Hamburg       0  4  0.00  4.0,
            Unnamed: 0_level_0 Regular Season
                          Team              W  L   W/L%   GB
 0               Beijing Ducks              3  0  1.000    -
 1      Xinjiang Flying Tigers              3  0  1.000    -
 2     Zhejiang Guangsha Lions              3  0  1.000    -
 3      Beijing Royal Fighters              2  1  0.667  1.0
 4        Nanjing Monkey Kings              2  1  0.667  1.0
 5    Liaoning Flying Leopards              2  0  1.000  0.5
 6              Qingdao Eagles              2  0  1.000  0.5
 7               Shanxi Loongs              2  0  1.000  0.5
 8     Shandong Hi-Speed Kirin              1  2  0.333  2.0
 9              Ningbo Rockets              1  2  0.333  2.0
 10      Zhejiang Golden Bulls              1  1  0.500  1.5
 11        Sichuan Blue Whales              0  3  0.000  3.0
 12           Tianjin Pioneers              1  0  1.000  1.0
 13           Fujian Sturgeons              0  2  0.000  2.5
 14            Shanghai Sharks              0  2  0.000  2.5
 15     Jilin Northeast Tigers              0  2  0.000  2.5
 16  Guangdong Southern Tigers              0  2  0.000  2.5
 17          Shenzhen Leopards              0  2  0.000  2.5
 18            Jiangsu Dragons              0  2  0.000  2.5
 19      Guangzhou Loong Lions              0  1  0.000  2.0,
              Unnamed: 0_level_0 Regular Season
                            Team              W  L   W/L%   GB
 0               Illawarra Hawks              4  1  0.800    -
 1              Melbourne United              4  2  0.667  0.5
 2                  Sydney Kings              4  2  0.667  0.5
 3          New Zealand Breakers              2  1  0.667  1.0
 4                Adelaide 36ers              3  3  0.500  1.5
 5                Cairns Taipans              3  3  0.500  1.5
 6              Brisbane Bullets              2  3  0.400  2.0
 7                Perth Wildcats              2  3  0.400  2.0
 8          Tasmania JackJumpers              2  3  0.400  2.0
 9  South East Melbourne Phoenix              0  5  0.000  4.0,
    Unnamed: 0_level_0 Final Standings
                  Team               W  L   W/L%   GB
 0       United States               6  0  1.000    -
 1              Canada               3  1  0.750  2.0
 2             Germany               4  2  0.667  2.0
 3              France               4  2  0.667  2.0
 4              Serbia               4  2  0.667  2.0
 5              Greece               1  3  0.250  4.0
 6               Spain               1  2  0.333  3.5
 7         South Sudan               1  2  0.333  3.5
 8           Australia               1  3  0.250  4.0
 9              Brazil               1  3  0.250  4.0
 10              Japan               0  3  0.000  4.5
 11        Puerto Rico               0  3  0.000  4.5,
    Unnamed: 0_level_0 Final Standings
                  Team               W  L   W/L%   GB
 0       United States               6  0  1.000    -
 1               Spain               3  1  0.750  2.0
 2           Australia               4  2  0.667  2.0
 3             Belgium               2  4  0.333  4.0
 4              France               4  2  0.667  2.0
 5             Germany               2  2  0.500  3.0
 6              Serbia               2  2  0.500  3.0
 7             Nigeria               2  2  0.500  3.0
 8               China               1  2  0.333  3.5
 9               Japan               0  3  0.000  4.5
 10        Puerto Rico               0  3  0.000  4.5
 11             Canada               0  3  0.000  4.5,
     Unnamed: 0_level_0 Final Standings
                   Team               W  L   W/L%   GB
 0            Germany *               8  0  1.000    -
 1             Latvia *               6  2  0.750  2.0
 2             Serbia *               6  2  0.750  2.0
 3             Canada *               6  2  0.750  2.0
 4           Slovenia *               5  3  0.625  3.0
 5          Lithuania *               6  2  0.750  2.0
 6      United States *               5  3  0.625  3.0
 7              Italy *               4  4  0.500  4.0
 8                Spain               3  2  0.600  3.5
 9   Dominican Republic               3  2  0.600  3.5
 10              France               3  2  0.600  3.5

In [57]:
df.to_csv("newCs.csv")