In [14]:
import numpy as np
import pandas as pd
import seaborn as sns

In [15]:
df=sns.load_dataset("tips")

In [16]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# STANDARDIZATION

In [17]:
mean=np.mean(df["total_bill"])
std=np.std(df["total_bill"])

In [18]:
std_data=[]
for i in list(df["total_bill"]):
    zscore=(i-mean)/std
    std_data.append(zscore)

In [19]:
std_data

[np.float64(-0.3147113050904943),
 np.float64(-1.0632353132988692),
 np.float64(0.13777989987156145),
 np.float64(0.43831510316725475),
 np.float64(0.540744704290506),
 np.float64(0.6195367051545455),
 np.float64(-1.2399545152367863),
 np.float64(0.7985071071171495),
 np.float64(-0.5342033074974614),
 np.float64(-0.5634689078183903),
 np.float64(-1.0711145133852733),
 np.float64(1.7417599174609364),
 np.float64(-0.49143050702841123),
 np.float64(-0.15262490331304146),
 np.float64(-0.557840907756673),
 np.float64(0.2019391005751361),
 np.float64(-1.0643609133112126),
 np.float64(-0.3935033059545337),
 np.float64(-0.31696250511518104),
 np.float64(0.09725829942719795),
 np.float64(-0.2100305039425557),
 np.float64(0.05673669898283484),
 np.float64(-0.45203450659639155),
 np.float64(2.2100095225958003),
 np.float64(0.003833498402694168),
 np.float64(-0.2224121040783337),
 np.float64(-0.7221785095588127),
 np.float64(-0.7987193103981653),
 np.float64(0.21544630072325727),
 np.float64(-0.015301701807144186),
 np.float64(-1.1521577142739994),
 np.float64(-0.16162970341178864),
 np.float64(-0.5319521074727743),
 np.float64(0.10176069947657193),
 np.float64(-0.22578890411536368),
 np.float64(0.4810879036363046),
 np.float64(-0.3912521059298469),
 np.float64(-0.32146490516455467),
 np.float64(-0.12335930299211233),
 np.float64(1.2926455125359115),
 np.float64(-0.4216433062631192),
 np.float64(-0.2618081045103532),
 np.float64(-0.6580193088552376),
 np.float64(-1.137524914113535),
 np.float64(1.1947183114620337),
 np.float64(-0.16838330348584943),
 np.float64(0.2751031013774587),
 np.float64(1.419838313930718),
 np.float64(0.986482309178501),
 np.float64(-0.19652330379443494),
 np.float64(-0.8156033105833167),
 np.float64(-1.0688633133605865),
 np.float64(1.691107916905483),
 np.float64(-1.1082593137926062),
 np.float64(0.6499279054878179),
 np.float64(-0.03331130200463894),
 np.float64(2.051299920855377),
 np.float64(0.7456039065370088),
 np.float64(-0.9619313121879614),
 np.float64(3.206165533519728),
 np.float64(0.05673669898283484),
 np.float64(-0.672652109015702),
 np.float64(-0.9866945124595167),
 np.float64(-0.16838330348584943),
 np.float64(-0.24717530434988882),
 np.float64(0.0330990987236229),
 np.float64(-0.37549370575703894),
 np.float64(-1.8815465222725365),
 np.float64(0.049983098908774455),
 np.float64(-0.5375801075344916),
 np.float64(-0.8741345112251745),
 np.float64(-0.3057065049917467),
 np.float64(0.7962559070924626),
 np.float64(0.6184111051422023),
 np.float64(-0.5690969078801073),
 np.float64(-1.044100113089031),
 np.float64(-0.2100305039425557),
 np.float64(0.834526307512139),
 np.float64(0.3347599020316602),
 np.float64(-0.2809433047201916),
 np.float64(-0.03893930206635573),
 np.float64(-0.351856105497827),
 np.float64(-1.0936265136321417),
 np.float64(1.451355114276334),
 np.float64(-0.4283969063371796),
 np.float64(1.6933591169301694),
 np.float64(-0.760448909978489),
 np.float64(-0.16950890349819261),
 np.float64(0.5542519044386273),
 np.float64(0.1546639000567126),
 np.float64(1.0337575096969245),
 np.float64(0.3043687016983874),
 np.float64(-1.5798857189644997),
 np.float64(-0.3901265059175033),
 np.float64(0.3336343020193166),
 np.float64(2.294429523521557),
 np.float64(0.8435311076108866),
 np.float64(-0.8730089112128311),
 np.float64(0.13777989987156145),
 np.float64(-0.8246081106820639),
 np.float64(-0.9495497120521837),
 np.float64(-0.4959329070777848),
 np.float64(2.759302328619389),
 np.float64(0.29648950161198384),
 np.float64(0.12764949976047066),
 np.float64(-0.49818410710247185),
 np.float64(0.07924869922970319),
 np.float64(0.6105319050557984),
 np.float64(-0.1740113035475666),
 np.float64(-0.616372108398531),
 np.float64(-0.6512657087811771),
 np.float64(-1.4110457171129864),
 np.float64(2.058053520929438),
 np.float64(0.46870630350052706),
 np.float64(0.6668119056729693),
 np.float64(-0.27869210469550476),
 np.float64(1.141815110881893),
 np.float64(-1.0283417129162231),
 np.float64(-0.8279849107190942),
 np.float64(0.4833391036609914),
 np.float64(-0.9112793116325074),
 np.float64(-0.7165505094970955),
 np.float64(-0.6220001084602481),
 np.float64(-0.43177370637421),
 np.float64(-0.822356910657377),
 np.float64(1.1271823107214287),
 np.float64(-1.268094515545372),
 np.float64(-0.5927345081393192),
 np.float64(-0.9461729120151534),
 np.float64(0.34151350210572057),
 np.float64(-0.07946090251071923),
 np.float64(0.05448549895814805),
 np.float64(-0.9698105122743653),
 np.float64(-0.8471201109289324),
 np.float64(-0.1717601035228794),
 np.float64(-1.2692201155577154),
 np.float64(-1.0643609133112126),
 np.float64(-0.6343817085960257),
 np.float64(-0.4261457063124928),
 np.float64(-0.7458161098180245),
 np.float64(-0.26068250449801),
 np.float64(1.6337023162759678),
 np.float64(2.4092407247805854),
 np.float64(0.8176423073269878),
 np.float64(-0.3777449057817257),
 np.float64(-1.2872297157552102),
 np.float64(-0.12898730305382952),
 np.float64(-0.8910185114103258),
 np.float64(-1.126268913990101),
 np.float64(-1.3817801167920576),
 np.float64(-0.6433865086947731),
 np.float64(-0.7491929098550546),
 np.float64(-0.2843201047572215),
 np.float64(0.5362423042411325),
 np.float64(-0.0017945016590230187),
 np.float64(1.1328103107831458),
 np.float64(3.194909533396294),
 np.float64(0.5868943047965863),
 np.float64(-0.7199273095341256),
 np.float64(-0.3709913057076653),
 np.float64(0.1929343004763889),
 np.float64(-0.8020961104351955),
 np.float64(-0.40250810605328086),
 np.float64(-0.672652109015702),
 np.float64(-0.25618010444863604),
 np.float64(0.5328655042041021),
 np.float64(0.10963989956297591),
 np.float64(1.3421719130790222),
 np.float64(-1.0350953129902838),
 np.float64(-1.03059291294091),
 np.float64(3.492067936654957),
 np.float64(-0.44753210654701775),
 np.float64(-1.4110457171129864),
 np.float64(1.3579303132518301),
 np.float64(-0.3338465053003322),
 np.float64(1.476118314547889),
 np.float64(-0.2134073039795861),
 np.float64(-0.5972369081886928),
 np.float64(-1.1465297142122826),
 np.float64(1.6708471166833014),
 np.float64(1.6730983167079878),
 np.float64(0.39891910273523484),
 np.float64(2.877490329915449),
 np.float64(0.3809095025377405),
 np.float64(2.3372023239906063),
 np.float64(0.10176069947657193),
 np.float64(0.12539829973578348),
 np.float64(1.2014719115360946),
 np.float64(-0.18414170365865737),
 np.float64(0.3730303024513365),
 np.float64(-0.46103930669513893),
 np.float64(0.0027078983903505707),
 np.float64(0.9741007090427235),
 np.float64(-0.4846769069543507),
 np.float64(-0.3608609055965746),
 np.float64(-1.3761521167303405),
 np.float64(-1.0632353132988692),
 np.float64(2.6253559271505225),
 np.float64(-0.7638257100155192),
 np.float64(-0.7064201093860047),
 np.float64(-0.12110810296742554),
 np.float64(-0.7930913103364481),
 np.float64(-0.7638257100155192),
 np.float64(-0.3811217058187561),
 np.float64(0.08375109927907717),
 np.float64(-0.3732425057323521),
 np.float64(0.7658647067591904),
 np.float64(2.1323431217441033),
 np.float64(0.5047255038955165),
 np.float64(-0.7908401103117614),
 np.float64(1.1564479110423573),
 np.float64(0.6870727058951509),
 np.float64(3.212919133593788),
 np.float64(-0.7334345096822469),
 np.float64(0.9437095087094511),
 np.float64(-0.7750817101389533),
 np.float64(0.9414583086847639),
 np.float64(-0.9225353117559416),
 np.float64(-1.3558913165081588),
 np.float64(1.165452711141105),
 np.float64(-0.8583761110523666),
 np.float64(-0.7165505094970955),
 np.float64(-1.2613409154713113),
 np.float64(-0.4283969063371796),
 np.float64(-0.7165505094970955),
 np.float64(-0.39575450597922046),
 np.float64(-1.0913753136074549),
 np.float64(0.0747462991803296),
 np.float64(-0.7323089096699035),
 np.float64(0.26272150124168114),
 np.float64(0.47545990357458784),
 np.float64(-0.46103930669513893),
 np.float64(-0.9202841117312548),
 np.float64(-1.0148345127681022),
 np.float64(-0.4790489068926337),
 np.float64(-1.0936265136321417),
 np.float64(-0.8088497105092561),
 np.float64(1.468239114461485),
 np.float64(1.8059191181645116),
 np.float64(1.0405111097709854),
 np.float64(0.8322751074874521),
 np.float64(0.3246295019205694),
 np.float64(-0.2212865040659901),
 np.float64(-0.11322890288102155)]

STANDARDIZTION USING LIB

In [20]:
from sklearn.preprocessing import StandardScaler 
scaler=StandardScaler()

In [21]:
pd.DataFrame(scaler.fit_transform(df[["total_bill","tip"]]),columns=["total_bill","tip"])

     total_bill       tip
0     -0.314711 -1.439947
1     -1.063235 -0.969205
2      0.137780  0.363356
3      0.438315  0.225754
4      0.540745  0.443020
..          ...       ...
239    1.040511  2.115963
240    0.832275 -0.722971
241    0.324630 -0.722971
242   -0.221287 -0.904026
243   -0.113229  0.001247

[244 rows x 2 columns]

# NORMALIZATION

In [22]:
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()
pd.DataFrame(minmax.fit_transform(df[["total_bill","tip"]]),columns=["total_bill","tip"])

     total_bill       tip
0      0.291579  0.001111
1      0.152283  0.073333
2      0.375786  0.277778
3      0.431713  0.256667
4      0.450775  0.290000
..          ...       ...
239    0.543779  0.546667
240    0.505027  0.111111
241    0.410557  0.111111
242    0.308965  0.083333
243    0.329074  0.222222

[244 rows x 2 columns]

# UNIT VECTOR

In [23]:
from sklearn.preprocessing import normalize
uv=normalize(df[["total_bill"]])

In [24]:
uv

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])